{% load static %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">

<div class="overlay">
    <div class="hero-content">
        <h1>For Your Everyday Japanese Practices</h1>
        <p>Discover fun and effective ways to practice Japanese daily. <br> interactive lessons to real-life scenarios, enhance your language skills and immerse yourself in Japanese culture.<br> Join us and make learning Japanese a part of your everyday routine!</p>
        
        <div>
            <button type="button"><span></span><a style="text-decoration: none; color: #fff;" href="{% url 'Insert'%}">See More</a></button>
        </div>
    </div>
</div>
